src/main/mule/implementations/get-employee-information-domain.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd">
	<flow name="get-employee-information-domainFlow" doc:id="bd5ca844-979e-48ee-ae13-bdb05e5ba22a" >
		<snowflake:select doc:name="Select" doc:id="7a238b58-6024-494c-8723-ad0328d9f654" config-ref="Snowflake_Config">
			<snowflake:sql ><![CDATA[select * from emplo where domain = :domain]]></snowflake:sql>
			<snowflake:input-parameters ><![CDATA[#[{
	"domain": attributes.queryParams.domain
}]]]></snowflake:input-parameters>
		</snowflake:select>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map(item,index) -> {
	firstName: item.firstName,
	lastName: item.lastName,
	domain: item.domain,
	age: item.age,
	phone: item.phone,
	email: item.email,
	address: {
		city: item.city,
	district: item.district,
	pincode: item.pincode,
	state: item.state,
	country: item.country
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
</mule>
